
.DS_Store
.DS_Store
apportion/~$pop.xlsx
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
Redistricting/NJ/NJ_blocks_centroids/NJ_blocks_centroids.shx
Redistricting/NJ/NJ_blocks_centroids/NJ_blocks_centroids.prj
Redistricting/NJ/NJ_blocks_centroids/NJ_blocks_centroids.dbf
Redistricting/NJ/NJ_blocks_centroids.zip
Redistricting/NJ/tl_2021_34_tabblock20.zip
Redistricting/NJ/tl_2021_34_tabblock20/tl_2021_34_tabblock20.dbf
Redistricting/NJ/tl_2021_34_tabblock20/tl_2021_34_tabblock20.shp
Redistricting/NJ/Shapefiles/tl_2021_34_cousub.zip
Redistricting/NJ/Shapefiles/NJ_blocks_centroids/NJ_blocks_centroids.dbf
Redistricting/NJ/Shapefiles/NJ_blocks_centroids/NJ_blocks_centroids.prj
Redistricting/NJ/Shapefiles/NJ_blocks_centroids/NJ_blocks_centroids.shp
Redistricting/NJ/Shapefiles/NJ_blocks_centroids/NJ_blocks_centroids.shx
Redistricting/NJ/NJ_blocks_centroids/NJ_blocks_centroids.shp
Redistricting/NJ/Shapefiles/NJ_blocks_centroids.zip
Redistricting/NJ/Shapefiles/tl_2021_34_cousub/tl_2021_34_cousub.cpg
Redistricting/NJ/Shapefiles/tl_2021_34_cousub/tl_2021_34_cousub.dbf
Redistricting/NJ/Shapefiles/tl_2021_34_cousub/tl_2021_34_cousub.prj
Redistricting/NJ/Shapefiles/tl_2021_34_cousub/tl_2021_34_cousub.shp
Redistricting/NJ/Shapefiles/tl_2021_34_cousub/tl_2021_34_cousub.shp.ea.iso.xml
Redistricting/NJ/Shapefiles/tl_2021_34_cousub/tl_2021_34_cousub.shp.iso.xml
Redistricting/NJ/Shapefiles/tl_2021_34_cousub/tl_2021_34_cousub.shx
Redistricting/NJ/Shapefiles/tl_2021_34_tabblock20.zip
Redistricting/NJ/Shapefiles/tl_2021_34_tabblock20/tl_2021_34_tabblock20.cpg
Redistricting/NJ/Shapefiles/tl_2021_34_tabblock20/tl_2021_34_tabblock20.dbf
Redistricting/NJ/Shapefiles/tl_2021_34_tabblock20/tl_2021_34_tabblock20.prj
Redistricting/NJ/Shapefiles/tl_2021_34_tabblock20/tl_2021_34_tabblock20.shp
Redistricting/NJ/Shapefiles/tl_2021_34_tabblock20/tl_2021_34_tabblock20.shp.ea.iso.xml
Redistricting/NJ/Shapefiles/tl_2021_34_tabblock20/tl_2021_34_tabblock20.shp.iso.xml
Redistricting/NJ/Shapefiles/tl_2021_34_tabblock20/tl_2021_34_tabblock20.shx
Redistricting/NJ/tl_2021_34_cousub.zip
Redistricting/NJ/tl_2021_34_cousub/tl_2021_34_cousub.cpg
Redistricting/NJ/tl_2021_34_cousub/tl_2021_34_cousub.dbf
Redistricting/NJ/tl_2021_34_cousub/tl_2021_34_cousub.prj
Redistricting/NJ/tl_2021_34_cousub/tl_2021_34_cousub.shp
Redistricting/NJ/tl_2021_34_cousub/tl_2021_34_cousub.shp.ea.iso.xml
Redistricting/NJ/tl_2021_34_cousub/tl_2021_34_cousub.shp.iso.xml
Redistricting/NJ/tl_2021_34_cousub/tl_2021_34_cousub.shx
Redistricting/NJ/tl_2021_34_tabblock20/tl_2021_34_tabblock20.cpg
Redistricting/NJ/tl_2021_34_tabblock20/tl_2021_34_tabblock20.prj
Redistricting/NJ/tl_2021_34_tabblock20/tl_2021_34_tabblock20.shp.ea.iso.xml
Redistricting/NJ/tl_2021_34_tabblock20/tl_2021_34_tabblock20.shp.iso.xml
Redistricting/NJ/tl_2021_34_tabblock20/tl_2021_34_tabblock20.shx
.DS_Store
Redistricting/NJ/Shapefiles/tl_2021_us_county.zip
Redistricting/NJ/Shapefiles/tl_2021_us_county/tl_2021_us_county.cpg
Redistricting/NJ/Shapefiles/tl_2021_us_county/tl_2021_us_county.dbf
Redistricting/NJ/Shapefiles/tl_2021_us_county/tl_2021_us_county.prj
Redistricting/NJ/Shapefiles/tl_2021_us_county/tl_2021_us_county.shp
Redistricting/NJ/Shapefiles/tl_2021_us_county/tl_2021_us_county.shp.ea.iso.xml
Redistricting/NJ/Shapefiles/tl_2021_us_county/tl_2021_us_county.shp.iso.xml
Redistricting/NJ/Shapefiles/tl_2021_us_county/tl_2021_us_county.shx
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
