
.DS_Store
.DS_Store
apportion/~$pop.xlsx
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
Redistricting/NJ/NJ_blocks_centroids/NJ_blocks_centroids.shx
Redistricting/NJ/NJ_blocks_centroids/NJ_blocks_centroids.prj
Redistricting/NJ/NJ_blocks_centroids/NJ_blocks_centroids.dbf
Redistricting/NJ/NJ_blocks_centroids.zip
Redistricting/NJ/tl_2021_34_tabblock20.zip
Redistricting/NJ/tl_2021_34_tabblock20/tl_2021_34_tabblock20.dbf
Redistricting/NJ/tl_2021_34_tabblock20/tl_2021_34_tabblock20.shp
